﻿<!DOCTYPE html>

<html lang="en" ng-app="MyApp">
    <head>
        <meta charset="utf-8" />
        <title>TypeScript HTML App</title>
        <link rel="stylesheet" href="css/app.css" type="text/css" />
    </head>
    <body ng-controller="AppController as vm">
        <h1>{{vm.Title}}</h1>

        <input type="text" ng-model="vm.Input"/>

        <p>Input value: {{vm.Input}}</p>

        <p ng-repeat="item in vm.Array">{{item}}</p>

        <button ng-click="vm.Click()">Click me!</button>

        <script src="wwwroot/lib/angular/angular.js"></script>
        <script src="./App.js"></script>
        <script src="./AppController.js"></script>
    </body>
</html>
