﻿<div ng-controller="ApiDemoController as vm">

    <h2>This is a todo</h2>

    <!--<p>This is our todo: {{vm.Todo}}</p>-->

    <p>Id: {{vm.Todo.id}}</p>
    <p>Title: {{vm.Todo.title}}</p>
    <p>Completed: {{vm.Todo.completed}}</p>

    <hr/>


    <p>All todos:</p>
    <input type="text" ng-model="search"/>
    <ul>
        <li ng-repeat="todo in vm.Todos | filter:{title: search} |limitTo:20">
            {{todo.title}}
        </li>
    </ul>

</div>