﻿<h2>This is where we repeat and filter stuff</h2>
<div ng-controller="RepeatDemoController as vm" class="grid-block">

    <div class="grid-block vertical ">
        <div class="grid-block shrink">

            <span>Filtrer model: <input type="text" ng-model="search_model" /></span>
            <span>Limit: <input type="text" ng-model="limit_num" /></span>
        </div>
        <div class="grid-content">
            <ul>
                <li ng-repeat="car in vm.Cars | filter:{Model: search_model} | limitTo:limit_num">
                    <p>Model: {{car.Model}}</p>
                    <p>Owner: {{car.Owner}}</p>
                </li>
            </ul>
        </div>
    </div>

    <div ng-hide="true" class="grid-block shrink">
        <div>
            <p>These are all the cars:</p>
            <ul>
                <li ng-repeat="car in vm.Cars">
                    <p>Model: {{car.Model}}</p>
                    <p>Owner: {{car.Owner}}</p>
                </li>
            </ul>
        </div>

    </div>

</div>